*{
    margin: 0;
    padding: 0;
}
.links{
    background: rgb(3, 3, 105);
    display: flex;
}
.logo{
    font-size: 35px;
    color: #fff;
    display: inline;
}
a{
    text-decoration: none;
    font-size: 35px;
    color: #fff;
    margin-left: 320px;
}
svg{
    margin-bottom: -13px;
    margin-left: -32px;
}
a:hover{
    text-decoration: underline;
}
.container{
    background: url(imagens/Papelparede.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    padding: 320px;
}
.bev{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 150px;
    margin: -40px;
}
p{
    font-size: 35px;
    margin: auto;
    padding: 20px;
}
.box {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 160px; 
    max-width: 90%; 
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 160px;
}

.card {
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    max-width: 250px;
    border-radius: 15px;
    border: 1px solid burlywood;
    overflow: hidden;
    box-shadow: 0 0 5em gray;
}

.adote{
    padding: 10px;
    color: brown;
    font-size: 30px;
}


footer{
    background: rgb(112, 112, 163);
    text-align: center;
    line-height: 50px;
}
footer p{
    font-size: 30px;
}
#copy{
    text-decoration: underline;
    text-underline-position: under;
}
@media screen and (max-width: 768px) {
    .logo {
        font-size: 25px;
    }
    a {
        font-size: 20px;
    }
    .container {
        padding: 10px;
    }
    .bev {
        font-size: 30px;
        padding-left: 10px;
        margin: -10px;
    }
    p {
        font-size: 15px;
        padding: 5px;
    }
    .box {
        margin-top: 30px;
        gap: 10px;
    }
    .adote {
        padding: 3px;
        font-size: 15px;
    }
    footer p {
        font-size: 15px;
    }
}